<html>
    <body>
        Vamos aprender AWS, IBM e Azure!
        <br>
        <h1>Tecnologias</h1>
        
        <% for(i =0; i<dados.length; i++){ %>
            <p><%= dados[i].conteudo %></p>
        <% } %>
        <a href="/">Home</a>
        <a href="/frontend">Frontend</a>
        <a href="/backend">Backend</a>
    </body>
</html>